@import url('common.css');

.supplier-list {
  list-style-type: none;
  padding: 0;
}

.supplier-item {
  background-color: var(--primary-color);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supplier-item a {
  color: var(--text-color);
  font-weight: bold;
}

.supplier-form {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.supplier-form h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}